<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HansAddChildViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A828CAE207C6E3400FA231C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A828CC2207C6E3500FA231C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A828CCD207C6E3500FA231C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
